body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif !important;
  margin-bottom: 20px;
}
.rulesParagraph {
  font-family: 'Roboto', sans-serif;
}

.list_menu {
  list-style: none;
  text-align: center;
}
.list_menu li {
  margin: 20px;
  font-size: 25px;
}
.login {
  border: 1px solid gray;
  padding: 40px;
  border-radius: 10px;
  margin-top: 50px;
}

.navigation {
  margin-bottom: 50px;
}

.aiButton, .playerButton {
  width: 47%;
  height: 50px;
  background-color: white;
  border: 1px solid lightgray;
}
.playerButton {
  float: left;
  margin-bottom: 20px;
}
.searchbutton {
  margin-top: 30px;
  background-color: #e74c3c !important;
  border: 1px solid transparent !important;
  padding: 15px;
}
.searchbutton:hover, .searchbutton:active {
  border: 1px solid transparent !important;
  box-shadow: 0px 0px 3px black !important;
}
.searchTitle {
  margin-bottom: 50px;
  font-family: 'Oswald', sans-serif !important;
  text-transform: uppercase;
  text-align: center;
  font-size: 2  em;
}
.active {
  border: 1px solid #e74c3c;
}
.accept-btn, .decline-btn {
  background-color  : white;
  border-width: 2px;
  border-style: groove;
  padding: 10px 30px;
  margin: 20px;
}

.accept-btn {
  border-color: #e74c3c;
  color: #e74c3c;
}
.decline-btn {
  border-color: #d63031;
  color: #d63031;
}
body, html {
  height: 100%;
}
#root {
  height: 80%;
}


.boardColumn {
  height: 100%;
  padding: 0px 0px 0px 0px !important;
}

/* .boardRow {
  height: 10%;
  display:flex;
  flex-direction: row;
  justify-content: center;
} */

.white {
  background-color: white;
}
.black {
  background-color: black;
}

/* old style */
button:focus
{
  outline: 0;
}
/* .playerred
{
  border:1px solid transparent;
  height: 80%;
  width: 80%;
  background-color: #A31846;
  border-radius:100%;
  position: absolute;
  top: 5%;
  left: 10%;
}
.playerblack
{
  left: 10%;
  top: 5%;
  border:1px solid transparent;
  height: 80%;
  width: 80%;
  background-color: #3A3335;
  border-radius:100%;
  position: absolute;
} */



.brown
{
  background-color: rgb(155, 93, 17);
}

.available
{
  border: 2px solid  #3A3335;
  box-shadow: 0px 0px 10px #3A3335;
}

#root
{
  margin-top: 100px;
}

.player
{
  font-size: 2em;
}

.chatlist
{
  list-style: none;
}

.chatlist-div
{
  position: relative;
  border-radius: 2px;
  padding: 5px;
  border:1px solid white;
  height: 300px;
  margin-bottom: 15px;
  overflow-y: scroll;
  word-break: break-all;
}

.sendtextbtn
{
  margin-top:5px;
}
.welcomediv
{
  padding: 20px;
}
.welcomediv div
{
  text-align: center;
  width:100%;

  padding: 20px;
}
.registrationTitle, .loginTitle {
  margin-bottom: 20px;
}
.registrationLink {
  color: #e74c3c;
}
.registrationLink:hover {
  color: #e74c3c;
}
.registrationButton, .registrationLink, .loginButton {
  margin-top: 25px;
  display: block;
}
.registrationParagraph {
  font-style: italic;
}
.usernameInput:active, .usernameInput:focus, .emailInput:active, .emailInput:focus, .passwordInput:active, .passwordInput:focus, .repassword:active, .repassword:focus {
  box-shadow: 0px 0px 5px #e74c3c !important;
  border: 1px solid  #e74c3c !important;
}
.errorMessage {
  color: #E3170A !important;
  font-weight: bold;
  margin: 10px 0px;
}
.loginLink {
  color: #e74c3c;
  padding: 10px 20px;
  border: 2px solid #e74c3c;
  border-radius: 5px;
  width: 200px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.loginLink:active, .loginLink:focus {
  color: #e74c3c;
}
.loginLink:hover {
  color: #A9E5BB;
}
.loginError {
  color: #d63031;
  font-weight: bold;
}
.list_menu li a {
  font-family: 'Oswald', sans-serif !important;
  color: black;
  text-transform: uppercase;
  font-size: 1.5em;
}
.menu_title {
  font-family: 'Oswald', sans-serif !important;
  font-size: 4em;
  margin-bottom: 60px;
  text-transform: uppercase;
  color: #e74c3c;
}
.infoBannerRow {
  background-color: #e74c3c;
  margin-top: 100px;
  padding: 30px;
}
.infoBanner, .infoBanner2 {
  font-size: 1.7em;
  text-align: center;
}

.brag-paragraph {
  font-family: 'Lato', sans-serif;
  color: white;
  padding: 10px;
  font-weight: bold;
}
.brag-paragraph span {
  font-weight: bold;
}
.descriptionDiv {
  margin-top: 50px;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.imgContainer {
  margin: 20px;
}

.OldImage1 {
  background-image: url("../src/images/oldPicture1.jpg");
  background-repeat: no-repeat;
  width: auto; /*or your image's width*/
  height: auto; /*or your image's height*/
  margin: 0;
  padding: 0;
}

.normalBoard {
  max-width: 100%;
  max-height: 100%;
  margin: 20px 0px;
}

.aboutDiv {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 2em;
}
.aboutDiv span {
  float: right;
  font-size: 2em;
  font-weight: bolder;
  margin-top: 40px;
}

.profileDiv {
  font-size: 1.5em;
}

.profileDiv * {
  margin: 20px;
}

.thanksList {
  margin-top: 20px;
}
.signOut {
  position: absolute;
  top: 60px;
  right: 20px;
  background-size: 100%;
}

.signOut button {
  border: 1px solid black;
  background-color: white;
  padding:10px 20px;
}
.gameListItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nextList, .previousList {
  border: 1px solid lightgray;
  margin: 20px 20px 20px 0; 
}

.showGamesBtn {
  margin-top: 20px;
  border: 1px solid lightgray;
}

.red {
  background-color: #d63031;
}
.black {
  background-color: black;
}
.playerColor {
  width: 30px;
  height: 15px;
}
.playersInfo {
  margin-bottom: 20px;
}
.playersInfo div {
  display: inline-block;
  font-size: 20px;
}
.playersInfo div:nth-child(2) {
  margin-left: 20px;
}
.playerUsernameDiv {
  margin-right: 20px;
}
.winner {
  font-size: 30px;
  font-weight: bold;
  width: 50%;
  text-align: center;
  padding: 20px;
  position: relative;
  top: 50%;
  background-color: white;
  text-transform: uppercase;
  left: 25%;
}

.winnerBoxred {
  box-shadow: 0px 0px 5px #d63031;
  border: 2px solid #d63031;
}
.winnerBoxblack {
  box-shadow: 0px 0px 5px black;
  border: 2px solid black;
}

.boardRow {
  height: 12.5%;
  margin: 0px;
} 
.square {
  float: left;
  height: 100%;
  width: 12.5%;
  border: 2px solid transparent;
}
.board {
  height: 500px;
  width: 500px;
  min-width: 500px;
  max-width: 700px;
  border: 1px solid lightgray;
  box-shadow: 0px 0px 3px lightgray;
}
.playerred {
  background-color: #d63031;
  border-radius: 100%;
  border: 0px;
  height: 80%;
  width: 80%;
  margin: auto;
}
.playerblack {
  background-color: #2d3436;
  border-radius: 100%;
  border: 0px;
  height: 80%;
  width: 80%;
  margin: auto;
}
.selected
{
   border: 2px solid #d63031;
   box-shadow: 0px 0px 5px #d63031;
}
.sendMsg {
  border: 1px solid lightgray;
  margin-top: 30px;
  width: 95%;
}

.messageContainer {
  height: 400px;
  overflow: scroll;
}
.messages {
  box-shadow: 0px 0px 3px lightgray;
  padding: 5px;
}
.sendMsgInput {
  margin-top: 10px;
  width: 95% !important;
}

.sendMsgInpu:active, .sendMsgInput:focus {
  box-shadow: 0px 0px 3px #d63031;
  border: 1px solid #d63031;
}
.takenFrom {
  margin: 50px;
  display: block;
  font-weight: bold;
  color: #d63031;
}
.takenFrom:hover {
  color: #d63031;
}
.howToPlayDiv {
  margin-top: 50px;
}
.gameImage {
  margin-top: 20px;
  margin-bottom: 20px;
}
#rulesAnchor {
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  text-decoration: underline;
}
.githubLink {
  color: #d63031;
}

.githubLink:hover {
  color: #d63031;
  text-decoration: underline;
}
.mainMsgDiv {
  margin-top: 20px;
  margin-bottom: 20px;
}